<main class="holder">
    <section class="homeimg">
        <img src="images/home/img01.jpg" alt="pluma">
    </section>
    <section class="columnas">
        <div class="servicios">
            <h2>Servicios</h2>
            <p>Ofrecemos peritajes caligráficos judiciales y extrajudiciales, determinamos autenticidad o falsedad
                documental, detectamos falsificaciones de instrumentos públicos y privados, análisis de sellos, firmas
                en blanco, autorías graficas, estudio de testamentos hológrafos. </p>
            <p> Realizamos pericias de control en los fueros civil y comercial, penal y familia.
                Redactamos puntos de pericia e impugnaciones.
                Asesoramos a particulares, instituciones bancarias, comerciales, gremiales, estudios jurídicos y
                contables entre otros.
            </p>
        </div>
        <div class="testimonios">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita">Simplemente excelente</span>
                <span class="autor">Dr. Juan Francisco Ortiz Pellegrini</span>

            </div>

        </div>

    </section>
</main>