 <main class="holder">
        <section class="valores">
            <h2>Valores, Misión y Visión</h2>
            <p>Nuestra experiencia de más de 20 años avalan nuestro servicio.-</p>
            <p>Somos reconocidos por nuestra forma de operar ágil, sencilla y dinámica.-</p>
            <p>Nuestra visión es simplificar la tarea del letrado brindándole soluciones en el proceso de la presentación de la Prueba Pericial Caligráfica y el asesoramiento del público en general para la resolución de conflictos en cuestiones de documentología.-</p>
            <p>Creemos en mejorar la experiencia de nuestros clientes viendo el futuro sin descuidar nuestro presente.-</p>


        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">

                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Walter Javier Segurado</h5>
                    <h6>Socio</h6>
                    <p>Calígrafo Público Nacional (Universidad del Salvador) Tº IV Fº131 C.P.C.F.
                        Especialista en Criminología (Universidad del Salvador).
                        Abogado (UMSA) Tº70 Fº947 C.A.C.F. Asesoramiento en el ámbito pericial caligráfico e intervención como perito consultor y de parte en causas civiles, comerciales y penales en todo el país.
                        </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Mónica Paez Martínez</h5>
                    <h6>Socia</h6>
                    <p>Calígrafo Público Nacional (Universidad Católica de Rosario) Tº V Fº161 C.P.C.F.
                        Especialista en Testamentos Ológrafos, Falsedad Documental (Universidad del Salvador).
                        Abogada (UMSA) Tº71 Fº 58 C.A.C.F. Asesoramiento en el ámbito pericial caligráfico e intervención como perito consultor y de parte en causas civiles, comerciales y penales en todo el país.
                        </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Lucas Paez Segura</h5>
                    <h6>Socio</h6>
                    <p>Calígrafo Público Nacional (Universidad Blas Pascal) Tº IV Fº499 C.P.C.F.
                        Especialista en Firmas Digitales (Instituto CEBA).
                        Ingeniero en Sistemas (UTN) Tº39 Fº47 C.A.C.F. Asesoramiento en el ámbito pericial caligráfico e intervención como perito consultor y de parte en causas civiles, comerciales y penales en todo el país.
                        </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Dayana Martínez Segura</h5>
                    <h6>Socia</h6>
                    <p>Calígrafo Público Nacional (Universidad del Salvador) Tº VI Fº131 C.P.C.F.
                        Especialista en Grafología (Instituto Emmerson).
                        Abogada (UMSA) Tº85 Fº427 C.A.C.F. Asesoramiento en el ámbito pericial caligráfico e intervención como perito consultor y de parte en causas civiles, comerciales y familia en todo el país.
                        </p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Hugo Eliseo Paez Rosario</h5>
                    <h6>Socio Fundador</h6>
                    <p>Calígrafo Público Nacional (Universidad Católica de Rosario ) Tº III Fº131 C.P.C.F.
                        Especialista en Criminología (Universidad del Salvador).
                        Abogado (UMSA) Tº77 Fº115 C.A.C.F. Asesoramiento en el ámbito pericial caligráfico e intervención como perito consultor y de parte en causas civiles, comerciales y penales en todo el país.
                    
                        </p>
                </div>

            </div> <!-- fin personas -->

        </section>
        
    </main>